<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hg.mad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".TermsActivity"/>
        <activity android:name=".FaqActivity"/>
        <activity android:name=".ContactUsActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:launchMode="standard"
            tools:replace="android:launchMode" />
        <activity android:name=".AuthUiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectChapterActivity" />
        <activity
            android:name=".SignedInActivity"
            android:label="@string/title_activity_signed_in"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>